.khunglogin
{
	width: 100%;
}
do
{
	color:Red;
	}
.login
{
	width: 300px;
	height: 300px;
	float: right;
	margin-top: 50px;
	background-image: url(    "../ImageMasterPageManages/nendangnhap.jpg" );
	background-repeat:no-repeat;
	padding-left:40px;
}
.anh
{
	background-image: url(    "../ImageMasterPageManages/Tech Icon.jpg" );
	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: inherit;
	float:left;
	width:300px;
	height:300px;
}
.dau
{
	height: 80px;
	width: 100%;
}
