<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyLuong.Properties.Settings.QuanLyTienLuongConnectionString"
            connectionString="Data Source=TIEN-A62E5B5725;Initial Catalog=QuanLyTienLuong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>