<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <pages maintainScrollPositionOnPostBack = "true">
      </pages>
    </system.web>

  <connectionStrings>
    <add name="pktphonedata" connectionString="Data Source=BITET-PC\SQLEXPRESS;Initial Catalog=QL_PKTPHONE;Integrated Security=True"/>
    
  </connectionStrings>

</configuration>
