<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DatabaseConnectionManagement.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DatabaseConnectionManagement.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DatabaseConnectionManagement.Properties.Settings>
      <setting name="SavePassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SQLAuthenticationMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectString" serializeAs="String">
        <value />
      </setting>
    </DatabaseConnectionManagement.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DatabaseConnectionManagement.Properties.Settings>
      <setting name="BackupConnectionString" serializeAs="String">
        <value />
      </setting>
    </DatabaseConnectionManagement.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>