<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLPKT.Properties.Settings.baitapConnectionString"
            connectionString="Data Source=BITET-PC\SQLEXPRESS;Initial Catalog=baitap;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>