.loginback{background-image: url("images/bg_img.jpg"); background-repeat: no-repeat; background-attachment: scroll; background-color:#02387f;}

.loginback2{background-image: url("images/bg_re.jpg"); background-repeat: repeat-x; background-attachment: scroll; background-color:#02387f;}


.menutop{color:#0003fb;font-family:arial,verdana,ms sans serif;font-size:16px; font-weight:bold;padding-left:00px;padding-top:0px; padding-right:00px; }
.menutop b.wh{color:#0003fb;font-size:16px;}
.menutop A{color:#0003fb;text-decoration:none;font-size:16px;}
.menutop A:Hover{color:#000000;text-decoration:none;}

.menu_left{font-family:Arial,verdana,ms sans serif;font-size:12px;color:#060606;padding-left:00px;padding-top:00px;}
.menu_left b.wh{color:#060606;font-size:12px;}
.menu_left A{color:#060606;text-decoration:none;font-size:12px;}
.menu_left A:Hover{color:#000000;text-decoration:none;}

.heading{color:#ffffff;font-family:arial,verdana,ms sans serif;font-size:18px; font-weight:none; padding-left:0px; padding-right:00px;}

.heading4{color:#1C6EC1;font-family:arial,verdana,ms sans serif;font-size:18px; font-weight:bold; padding-left:0px; padding-right:00px;}

.text{color:#000000;font-family:arial,ms sans serif;font-size:12px;font-weight:none; font-weight:normal; padding-left:10px; padding-right:10px;padding-top:00px;}

.txt{color:#ffffff;font-family:arial,ms sans serif;font-size:12px;font-weight:none; font-weight:normal; padding-left:0px; padding-right:0px;padding-top:00px;}

.text2{color:#ffffff;font-family:family:arial,ms sans serif;font-size:12px;font-weight:none; font-weight:normal; padding-left:5px; padding-right:5px;padding-top:00px;}

.bottom_autor{color:#ffffff;font-family:arial,verdana,ms sans serif;font-size:12px; font-weight:none; padding-left:05px; padding-right:05px;padding-top:0px;}
.bottom_autor A{color:#ffffff;font-family:arial,verdana,ms sans serif;font-size:12px; font-weight:none;text-decoration:none;}
.bottom_autor A:hover{color:#96c714;font-family:arial,verdana,ms sans serif;font-size:12px; font-weight:none;}


.bottom_autor2{color:#04eaff;font-family:arial,verdana,ms sans serif;font-size:12px; font-weight:bold; padding-left:5px; padding-right:00px;padding-top:05px;}
.bottom_autor2 A{color:#04eaff;font-family:arial,verdana,ms sans serif;font-size:15px; font-weight:bold;text-decoration:none;}
.bottom_autor2 A:hover{color:#96c714;font-family:arial,verdana,ms sans serif;font-size:15px; font-weight:bold;}

.footer1{font-family:arial,verdana,ms sans serif;font-size:12px;color:#ffffff;}
.footer1 A{color:#ffffff;text-decoration:none;}
.footer1 A:Hover{color:#444444;text-decoration:none;}