.lw50h200
{
	border-left: thin solid #eaf5fb;
	border-right: thin solid #eaf5fb;
	border-bottom: thin solid #eaf5fb;
	border-top: none;
	width: 100%;
	height: 230px;
	float: left;
}
.lw50h200New
{
	width: 100%;
}
.newOne
{
	width: 100%;
	height: 100%;
	float: left;
	border: solid 0.3px #EEEEEE;
	margin: 2px;
}